@charset "utf-8";

/* common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, select, button {margin:0;padding:0}
body, input, textarea, select, table, button {font-family:"돋움", Dotum, AppleGothic, sans-serif; font-size:12px}
img, fieldset {border:0}
hr {display:none}
ul, li {list-style:none}
em, address {font-style:normal}
a {text-decoration:none}
a:hover, a:active, a:focus {text-decoration:underline}
.blind {position:absolute; top:0; left:0; width:1px; height:1px; overflow:hidden; visibility:hidden; font-size:0; line-height:0}
.iRadio,iCheck{width:13px;height:13px;vertical-align:top}

/* inline & block's position */
.tl {text-align:left !important}
.tc {text-align:center}
.tr {text-align:right}
.fl {float:left}
.fr {float:right}

/* buttons */
a.btn_big {display:inline-block; padding-right:3px; background:url(http://static.naver.com/groupware/2010/bg_btn_default.gif) no-repeat 100% 0; font-size:12px; color:#444; line-height:26px; word-spacing:-1px; text-decoration:none !important; white-space:nowrap}
a.btn_big span,
a.btn_big strong {display:block; padding:1px 9px 0 12px; background:url(http://static.naver.com/groupware/2010/bg_btn_default.gif) no-repeat}
a.btn_sml {display:inline-block; padding-right:3px; background:url(http://static.naver.com/groupware/2010/bg_btn_default.gif) no-repeat 100% -27px; font-size:11px; color:#444; line-height:21px; letter-spacing:-1px; word-spacing:-1px; text-decoration:none !important; white-space:nowrap}
a.btn_sml span,
a.btn_sml strong {display:block; padding:1px 5px 0 7px; background:url(http://static.naver.com/groupware/2010/bg_btn_default.gif) no-repeat 0 -27px}
a.btn_xsml {display:inline-block; padding-right:3px; background:url(http://static.naver.com/groupware/2010/bg_btn_default.gif) no-repeat 100% -48px; font-size:11px; color:#777; line-height:19px; letter-spacing:-1px; word-spacing:-1px; text-decoration:none !important}
a.btn_xsml span,
a.btn_xsml strong {display:block; padding:1px 6px 0 7px; background:url(http://static.naver.com/groupware/2010/bg_btn_default.gif) no-repeat 0 -48px}

.down {color:white; background:red}
.up {color:white; background:green}

.table tbody tr td {background:white}